@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/base/_fonts.scss';
@import '../../../../../scss/modules/_animations.scss';

img {
	max-width: 100% !important;
}

.carousel {
	position: relative;
}
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.carousel-inner > .item {
	position: relative;
	display: none;
	-webkit-transition: .6s ease-in-out left;
	-o-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
	display: block;
}
.carousel-inner > .active {
	left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel-inner > .next {
	left: 100%;
}
.carousel-inner > .prev {
	left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
	left: 0;
}
.carousel-inner > .active.left {
	left: -100%;
}
.carousel-inner > .active.right {
	left: 100%;
}

.projects {
	position: fixed;
	width: 100%;
	height: 100%;

	.projectsWrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.btn-project {
		background-repeat: no-repeat;
		position: fixed;
		width: 59px;
		height: 63px;
		z-index: 999;
		&:hover {
			cursor: pointer;
		}
	}

	.btn-proj-t {
		top: 15%;
		left: 49%;
		background-image: url(("#{$img-patch}btn-arrow-proj-t.png"));
	}

	.btn-proj-r {
		top: 49%;
		right: 1%;
		background-image: url(("#{$img-patch}btn-arrow-proj-r.png"));
	}

	.btn-proj-l {
		top: 49%;
		left: 1%;
		background-image: url(("#{$img-patch}btn-arrow-proj-l.png"));
	}

	.btn-proj-b {
		position: fixed;
		width: 59px;
		height: 58px;
		bottom: 0%;
		left: 49%;
		z-index: 999;
		background-image: url(("#{$img-patch}btn-arrow-proj-b.png"));
		&:hover {
			cursor: pointer;
		}
	}
	.btn-proj-info {
		position: fixed;
		width: 50px;
		height: 50px;
		left: 1%;
		bottom: 1%;
		background-repeat: no-repeat;
		background-image: url(("#{$img-patch}btn-info-proj.png"));
		&:hover {
			cursor: pointer;
		}

		.info-proj {
			background-color: rgba(255, 255, 255, 0.5);
			position: absolute;
			padding: 20px;
			bottom: 80px;
			left: 25px;
			white-space: nowrap;
			&:hover {
				cursor: default;
			}

			.info-triangle {
				position: absolute;
				width: 0;
				height: 0;
				left: 0;
				bottom: -25px;
				border-style: solid;
				border-width: 25px 35px 0 0;
				border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
				&:hover {
					cursor: default;
				}
			}
		}

	}
}

.projectItem {
//	position: absolute;
	left: 40%;
	top: 40%;
//	width: 100%;
//	height: 100%;
	width: 300px;
	height: 280px;

	.bgWrapper {
		position: absolute;
		width: 100%;
		height: 100%;

		.projectBg {
			position: absolute;
			background-repeat: no-repeat;
			background-size: 100%;
			width: 100%;
			height: 100%;
		}
	}
}

.current {
	display: block !important;
}
.item-project {
	position: relative;
	display: none;
}

.top { // k 0
	position: absolute;
	top: -100%;
}
.prev-project {
	@include animation(scale 1.0s ease-in, slide 2.0s ease);
}


.bottom {
	position: absolute;
	top: 100%;
}
.next-project { // k 0

}



