@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/base/_fonts.scss';
@import '../../../../../scss/modules/_animations.scss';

div.projects {
	position: fixed;
	width: 100%;
	height: 100%;

	.projectsWrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	div.btn-project {
		background-repeat: no-repeat;
		position: fixed;
		width: 59px;
		height: 63px;
		z-index: 999;
		&:hover {
			cursor: pointer;
		}
	}

	.btn-proj-t {
		top: 15%;
		left: 49%;
		background-image: url(("#{$img-patch}btn-arrow-proj-t.png"));
	}

	.btn-proj-r {
		top: 49%;
		right: 1%;
		background-image: url(("#{$img-patch}btn-arrow-proj-r.png"));
	}

	.btn-proj-l {
		top: 49%;
		left: 1%;
		background-image: url(("#{$img-patch}btn-arrow-proj-l.png"));
	}

	.btn-proj-b {
		position: fixed;
		width: 59px;
		height: 58px;
		bottom: 0%;
		left: 49%;
		z-index: 999;
		background-image: url(("#{$img-patch}btn-arrow-proj-b.png"));
		&:hover {
			cursor: pointer;
		}
	}
	.btn-proj-info {
		position: fixed;
		width: 50px;
		height: 50px;
		left: 1%;
		bottom: 1%;
		background-repeat: no-repeat;
		background-image: url(("#{$img-patch}btn-info-proj.png"));
		&:hover {
			cursor: pointer;
		}

		.info-proj {
			background-color: rgba(255, 255, 255, 0.5);
			position: absolute;
			padding: 20px;
			bottom: 80px;
			left: 25px;
			white-space: nowrap;
			&:hover {
				cursor: default;
			}

			.info-triangle {
				position: absolute;
				width: 0;
				height: 0;
				left: 0;
				bottom: -25px;
				border-style: solid;
				border-width: 25px 35px 0 0;
				border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
				&:hover {
					cursor: default;
				}
			}
		}

	}
}

.projectItem {
	position: absolute;
	width: 100%;
	height: 100%;

	.bgWrapper {
		position: absolute;
		width: 100%;
		height: 100%;

		.projectBg {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.left {
			display: block;
		}

		.current {
//			overflow: hidden;
		}

		.right {
			display: block;
		}
	}
}
