.projectItem .bgWrapper .img-gallery {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg); } }
@-moz-keyframes rotate-btn {
  10% {
    -moz-transform: rotate(-18deg); }
  20% {
    -moz-transform: rotate(-36deg); }
  30% {
    -moz-transform: rotate(-54deg); }
  40% {
    -moz-transform: rotate(-72deg); }
  50% {
    -moz-transform: rotate(-90deg); }
  60% {
    -moz-transform: rotate(-108deg); }
  70% {
    -moz-transform: rotate(-126deg); }
  80% {
    -moz-transform: rotate(-144deg); }
  90% {
    -moz-transform: rotate(-162deg); }
  100% {
    -moz-transform: rotate(-180deg); } }
@keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg);
    -moz-transform: rotate(-108deg);
    -ms-transform: rotate(-108deg);
    -o-transform: rotate(-108deg);
    transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg);
    -moz-transform: rotate(-126deg);
    -ms-transform: rotate(-126deg);
    -o-transform: rotate(-126deg);
    transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg);
    -moz-transform: rotate(-144deg);
    -ms-transform: rotate(-144deg);
    -o-transform: rotate(-144deg);
    transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg);
    -moz-transform: rotate(-162deg);
    -ms-transform: rotate(-162deg);
    -o-transform: rotate(-162deg);
    transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
.carousel {
  position: relative;
  width: 100%;
  height: 100%; }

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left; }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block; }

.carousel-inner > .active {
  left: 0; }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel-inner > .next {
  left: 100%; }

.carousel-inner > .prev {
  left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0; }

.carousel-inner > .active.left {
  left: -100%; }

.carousel-inner > .active.right {
  left: 100%; }

.item {
  width: 100%;
  height: 100%; }

.projects {
  position: fixed;
  width: 100%;
  height: 100%; }
  .projects .projectsWrapper {
    position: absolute;
    width: 100%;
    height: 100%; }
  .projects .btn-project {
    background-repeat: no-repeat;
    position: fixed;
    width: 59px;
    height: 63px;
    z-index: 999; }
    .projects .btn-project:hover {
      cursor: pointer; }
  .projects .btn-proj-t {
    top: 15%;
    left: 49%;
    background-image: url("/img/user/btn-arrow-proj-t.png"); }
  .projects .btn-proj-r {
    top: 49%;
    right: 1%;
    background-image: url("/img/user/btn-arrow-proj-r.png"); }
  .projects .btn-proj-l {
    top: 49%;
    left: 1%;
    background-image: url("/img/user/btn-arrow-proj-l.png"); }
  .projects .btn-proj-b {
    position: fixed;
    width: 59px;
    height: 58px;
    bottom: 0%;
    left: 49%;
    z-index: 999;
    background-image: url("/img/user/btn-arrow-proj-b.png"); }
    .projects .btn-proj-b:hover {
      cursor: pointer; }
  .projects .btn-proj-info {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 1%;
    bottom: 1%;
    background-repeat: no-repeat;
    background-image: url("/img/user/btn-info-proj.png"); }
    .projects .btn-proj-info:hover {
      cursor: pointer; }
    .projects .btn-proj-info .info-proj {
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      padding: 20px;
      bottom: 80px;
      left: 25px;
      white-space: nowrap; }
      .projects .btn-proj-info .info-proj:hover {
        cursor: default; }
      .projects .btn-proj-info .info-proj .info-triangle {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        bottom: -25px;
        border-style: solid;
        border-width: 25px 35px 0 0;
        border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent; }
        .projects .btn-proj-info .info-proj .info-triangle:hover {
          cursor: default; }

.projectItem {
  position: absolute;
  width: 100%;
  height: 100%; }
  .projectItem .bgWrapper {
    position: absolute;
    width: 100%;
    height: 100%; }
    .projectItem .bgWrapper .img-gallery {
      position: relative;
      width: 100%;
      height: 100%; }

.current {
  position: absolute;
  display: block !important; }

.item-project {
  position: relative;
  display: none;
  width: 100%;
  height: 100%; }

.prev-project {
  top: 100%;
  position: absolute;
  display: block !important; }

.next-project {
  top: -100%;
  position: absolute;
  display: block !important; }

/*# sourceMappingURL=projects.css.map */
