@charset "UTF-8";
@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/base/_fonts.scss';
@import '../../../../../scss/modules/_animations.scss';

@include font-face(QuicksandBold, '#{$fonts-patch}Quicksand-Bold/quicksand-bold');
@include font-face(QuicksandRegular,'#{$fonts-patch}Quicksand-Regular/quicksand-regular');
@include font-face(QuicksandLight, '#{$fonts-patch}Quicksand-Light/quicksand-light');

*,
*:before,
*:after {
	margin: 0;
	@include box-sizing(border-box);
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}


body {
//	font-family: PFDinTextCondPro;
	min-width: 1000px;
	position: relative;

}

.clearfix {
	@include clearfix;
}

module {
	display: none;
	min-height: 100%;


	&.active {
		display: block;
	}


	.moduleContent {
		height: 100%;
		position: relative;
	}
}

.module {
	&:hover {
		cursor: pointer;

		p, span, h1, h2, h3, h4, h5, h6 {
			cursor: pointer;
		}
	}
}


@import '../../../../../scss/framework/_grid.scss';
