@charset "UTF-8";
@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/modules/_animations.scss';

@include font-face(HeliosExtThinC, '#{$fonts-patch}/HeliosExtThinC/heliosextthinc');

*,
*:before,
*:after {
	margin: 0;
	@include box-sizing(border-box);
}

html {
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
}

body {
	font-family: HeliosExtThinC, sans-serif;
	min-width: 1000px;
	position: relative;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: antialiased;
}

.clearfix {
	@include clearfix;
}

module {
	display: none;
	min-height: 100%;


	&.active {
		display: block;
	}


	.moduleContent {
		height: 100%;
		position: relative;
	}
}

.module {
	&:hover {
		cursor: pointer;

		p, span, h1, h2, h3, h4, h5, h6 {
			cursor: pointer;
		}
	}
}

@import '../../../../../scss/framework/_grid.scss';