div.pages {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

div#header #header-menu a.btm, div#header #header-lang {
  font-family: "QuicksandLight";
  font-weight: bold;
  font-size: 20px; }

@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@font-face {
  font-family: QuicksandBold;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand-Bold/quicksand-bold.eot");
  src: url("/fonts/Quicksand-Bold/quicksand-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Bold/quicksand-bold.woff") format("woff"), url("/fonts/Quicksand-Bold/quicksand-bold.ttf") format("truetype"), url("/fonts/Quicksand-Bold/quicksand-bold.svg#QuicksandBold") format("svg"); }
@font-face {
  font-family: QuicksandRegular;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand-Regular/quicksand-regular.eot");
  src: url("/fonts/Quicksand-Regular/quicksand-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Regular/quicksand-regular.woff") format("woff"), url("/fonts/Quicksand-Regular/quicksand-regular.ttf") format("truetype"), url("/fonts/Quicksand-Regular/quicksand-regular.svg#QuicksandRegular") format("svg"); }
@font-face {
  font-family: QuicksandLight;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand-Light/quicksand-light.eot");
  src: url("/fonts/Quicksand-Light/quicksand-light.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Light/quicksand-light.woff") format("woff"), url("/fonts/Quicksand-Light/quicksand-light.ttf") format("truetype"), url("/fonts/Quicksand-Light/quicksand-light.svg#QuicksandLight") format("svg"); }
*,
*:before,
*:after {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0; }

div.pages {
  position: relative;
  width: 100%; }

div#header {
  z-index: 1;
  padding: 2% 5% 4% 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.7); }
  div#header .logo {
    float: left;
    display: table-cell;
    vertical-align: middle; }
    div#header .logo:hover {
      cursor: pointer; }
  div#header #header-menu {
    float: right;
    padding-top: 4px; }
    div#header #header-menu ul.menu {
      margin: 0px;
      padding: 0px; }
      div#header #header-menu ul.menu li {
        display: inline;
        padding-right: 30px; }
    div#header #header-menu a.btm {
      color: #ffffff; }
      div#header #header-menu a.btm:hover {
        border-bottom: 4px solid;
        border-bottom-color: #daa503;
        cursor: pointer; }
  div#header #header-scl {
    float: right;
    padding-left: 37px;
    padding-right: 37px; }
    div#header #header-scl ul.social {
      margin: 0px;
      padding: 0px; }
      div#header #header-scl ul.social li {
        display: inline;
        padding-right: 7px; }
    div#header #header-scl div.scl-btm {
      display: inline-block;
      width: 33px;
      height: 33px; }
      div#header #header-scl div.scl-btm:hover {
        cursor: pointer; }
    div#header #header-scl div.scl-facebook {
      background-image: url("/img/user/social/facebook.png");
      background-repeat: no-repeat; }
    div#header #header-scl div.scl-pinterest {
      background-image: url("/img/user/social/pinterest.png");
      background-repeat: no-repeat; }
    div#header #header-scl div.scl-tumblr {
      background-image: url("/img/user/social/tumblr.png");
      background-repeat: no-repeat; }
  div#header #header-lang {
    float: right;
    padding-top: 4px;
    color: #767676; }
    div#header #header-lang ul.lang {
      margin: 0px;
      padding: 0px; }
      div#header #header-lang ul.lang li {
        display: inline; }
        div#header #header-lang ul.lang li:hover {
          cursor: pointer; }

body {
  min-width: 1000px;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

module {
  display: none;
  min-height: 100%; }
  module.active {
    display: block; }
  module .moduleContent {
    height: 100%;
    position: relative; }

.module:hover {
  cursor: pointer; }
  .module:hover p, .module:hover span, .module:hover h1, .module:hover h2, .module:hover h3, .module:hover h4, .module:hover h5, .module:hover h6 {
    cursor: pointer; }

@media (min-width: 1150px) {
  html {
    font-size: 15px; } }
@media (min-width: 1366px) {
  html {
    font-size: 16px; } }
@media (min-width: 1440px) {
  html {
    font-size: 17px; } }
@media (min-width: 1536px) {
  html {
    font-size: 18px; } }
@media (min-width: 1600px) {
  html {
    font-size: 19px; } }
@media (min-width: 1680px) {
  html {
    font-size: 20px; } }
@media (min-width: 1920px) {
  html {
    font-size: 22px; } }

/*# sourceMappingURL=global.css.map */
