@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg); } }
@-moz-keyframes rotate-btn {
  10% {
    -moz-transform: rotate(-18deg); }
  20% {
    -moz-transform: rotate(-36deg); }
  30% {
    -moz-transform: rotate(-54deg); }
  40% {
    -moz-transform: rotate(-72deg); }
  50% {
    -moz-transform: rotate(-90deg); }
  60% {
    -moz-transform: rotate(-108deg); }
  70% {
    -moz-transform: rotate(-126deg); }
  80% {
    -moz-transform: rotate(-144deg); }
  90% {
    -moz-transform: rotate(-162deg); }
  100% {
    -moz-transform: rotate(-180deg); } }
@keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg);
    -moz-transform: rotate(-108deg);
    -ms-transform: rotate(-108deg);
    -o-transform: rotate(-108deg);
    transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg);
    -moz-transform: rotate(-126deg);
    -ms-transform: rotate(-126deg);
    -o-transform: rotate(-126deg);
    transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg);
    -moz-transform: rotate(-144deg);
    -ms-transform: rotate(-144deg);
    -o-transform: rotate(-144deg);
    transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg);
    -moz-transform: rotate(-162deg);
    -ms-transform: rotate(-162deg);
    -o-transform: rotate(-162deg);
    transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
*,
*:before,
*:after {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  margin: 0;
  padding: 0; }

body {
  min-width: 1000px;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

module {
  display: none;
  min-height: 100%; }
  module.active {
    display: block; }
  module .moduleContent {
    height: 100%;
    position: relative; }

.module:hover {
  cursor: pointer; }
  .module:hover p, .module:hover span, .module:hover h1, .module:hover h2, .module:hover h3, .module:hover h4, .module:hover h5, .module:hover h6 {
    cursor: pointer; }

@media (min-width: 1150px) {
  html {
    font-size: 14px; } }
@media (min-width: 1366px) {
  html {
    font-size: 16px; } }
@media (min-width: 1440px) {
  html {
    font-size: 18px; } }
@media (min-width: 1536px) {
  html {
    font-size: 20px; } }
@media (min-width: 1600px) {
  html {
    font-size: 22px; } }
@media (min-width: 1680px) {
  html {
    font-size: 24px; } }
@media (min-width: 1920px) {
  html {
    font-size: 26px; } }

/*# sourceMappingURL=global.css.map */
