@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/modules/_animations.scss';

div.pages {
	@extend %bg-image-cover;
	position: relative;
	width: 100%;
}

header, footer {
	display: block;
}