div.pages {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@font-face {
  font-family: Quicksand;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Quicksand-Bold/quicksand-bold.eot");
  src: url("/fonts/Quicksand-Bold/quicksand-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Bold/quicksand-bold.woff") format("woff"), url("/fonts/Quicksand-Bold/quicksand-bold.ttf") format("truetype"), url("/fonts/Quicksand-Bold/quicksand-bold.svg#Quicksand") format("svg"); }
@font-face {
  font-family: Quicksand;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Quicksand-Regular/quicksand-regular.eot");
  src: url("/fonts/Quicksand-Regular/quicksand-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Regular/quicksand-regular.woff") format("woff"), url("/fonts/Quicksand-Regular/quicksand-regular.ttf") format("truetype"), url("/fonts/Quicksand-Regular/quicksand-regular.svg#Quicksand") format("svg"); }
@font-face {
  font-family: Quicksand;
  font-weight: lighter;
  font-style: normal;
  src: url("/fonts/Quicksand-Light/quicksand-light.eot");
  src: url("/fonts/Quicksand-Light/quicksand-light.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Light/quicksand-light.woff") format("woff"), url("/fonts/Quicksand-Light/quicksand-light.ttf") format("truetype"), url("/fonts/Quicksand-Light/quicksand-light.svg#Quicksand") format("svg"); }
@font-face {
  font-family: Comfortaa;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Comfortaa-Bold/comfortaa-bold.eot");
  src: url("/fonts/Comfortaa-Bold/comfortaa-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Comfortaa-Bold/comfortaa-bold.woff") format("woff"), url("/fonts/Comfortaa-Bold/comfortaa-bold.ttf") format("truetype"), url("/fonts/Comfortaa-Bold/comfortaa-bold.svg#Comfortaa") format("svg"); }
@font-face {
  font-family: Comfortaa;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Comfortaa-Regular/comfortaa-regular.eot");
  src: url("/fonts/Comfortaa-Regular/comfortaa-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Comfortaa-Regular/comfortaa-regular.woff") format("woff"), url("/fonts/Comfortaa-Regular/comfortaa-regular.ttf") format("truetype"), url("/fonts/Comfortaa-Regular/comfortaa-regular.svg#Comfortaa") format("svg"); }
@font-face {
  font-family: Comfortaa;
  font-weight: lighter;
  font-style: normal;
  src: url("/fonts/Comfortaa-Light/comfortaa-light.eot");
  src: url("/fonts/Comfortaa-Light/comfortaa-light.eot?#iefix") format("embedded-opentype"), url("/fonts/Comfortaa-Light/comfortaa-light.woff") format("woff"), url("/fonts/Comfortaa-Light/comfortaa-light.ttf") format("truetype"), url("/fonts/Comfortaa-Light/comfortaa-light.svg#Comfortaa") format("svg"); }
body {
  font-family: Comfortaa, sans-serif; }

body.en {
  font-family: Quicksand; }

div.pages {
  position: relative;
  width: 100%; }

div#header {
  z-index: 1;
  padding: 2% 5% 4% 5%;
  min-width: 1000px;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.7); }
  div#header .logo {
    float: left;
    display: table-cell;
    vertical-align: middle; }
    div#header .logo:hover {
      cursor: pointer; }
  div#header #header-menu {
    float: right;
    padding-top: 4px; }
    div#header #header-menu ul.menu {
      margin: 0px;
      padding: 0px; }
      div#header #header-menu ul.menu li {
        display: inline;
        padding-right: 30px; }
    div#header #header-menu a.btm {
      text-decoration: none;
      font-weight: lighter;
      font-size: 1.125rem;
      color: #ffffff; }
      div#header #header-menu a.btm:hover {
        border-bottom: 4px solid;
        border-bottom-color: #daa503;
        cursor: pointer; }
  div#header #header-scl {
    float: right;
    padding-left: 37px;
    padding-right: 37px; }
    div#header #header-scl ul.social {
      margin: 0px;
      padding: 0px; }
      div#header #header-scl ul.social li {
        display: inline;
        padding-right: 7px; }
    div#header #header-scl div.scl-btm {
      display: inline-block;
      width: 33px;
      height: 33px; }
      div#header #header-scl div.scl-btm:hover {
        cursor: pointer; }
    div#header #header-scl div.scl-facebook {
      background-image: url("/img/user/social/facebook.png");
      background-repeat: no-repeat; }
    div#header #header-scl div.scl-pinterest {
      background-image: url("/img/user/social/pinterest.png");
      background-repeat: no-repeat; }
    div#header #header-scl div.scl-tumblr {
      background-image: url("/img/user/social/tumblr.png");
      background-repeat: no-repeat; }
  div#header #header-lang {
    float: right;
    padding-top: 4px;
    font-weight: lighter;
    font-size: 1.125rem;
    color: #767676; }
    div#header #header-lang ul.lang {
      margin: 0px;
      padding: 0px; }
      div#header #header-lang ul.lang li {
        display: inline; }
        div#header #header-lang ul.lang li a.lang-btm {
          text-decoration: none; }
          div#header #header-lang ul.lang li a.lang-btm:hover {
            cursor: pointer; }
          div#header #header-lang ul.lang li a.lang-btm:link {
            color: #767676; }
          div#header #header-lang ul.lang li a.lang-btm:visited {
            color: #767676; }

/*# sourceMappingURL=global.css.map */
