div.pages {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

div#header #header-menu a.btm, div#header #header-lang {
  font-family: "QuicksandLight";
  font-weight: bold;
  font-size: 1.125rem; }

@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg); } }
@-moz-keyframes rotate-btn {
  10% {
    -moz-transform: rotate(-18deg); }
  20% {
    -moz-transform: rotate(-36deg); }
  30% {
    -moz-transform: rotate(-54deg); }
  40% {
    -moz-transform: rotate(-72deg); }
  50% {
    -moz-transform: rotate(-90deg); }
  60% {
    -moz-transform: rotate(-108deg); }
  70% {
    -moz-transform: rotate(-126deg); }
  80% {
    -moz-transform: rotate(-144deg); }
  90% {
    -moz-transform: rotate(-162deg); }
  100% {
    -moz-transform: rotate(-180deg); } }
@keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg);
    -moz-transform: rotate(-108deg);
    -ms-transform: rotate(-108deg);
    -o-transform: rotate(-108deg);
    transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg);
    -moz-transform: rotate(-126deg);
    -ms-transform: rotate(-126deg);
    -o-transform: rotate(-126deg);
    transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg);
    -moz-transform: rotate(-144deg);
    -ms-transform: rotate(-144deg);
    -o-transform: rotate(-144deg);
    transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg);
    -moz-transform: rotate(-162deg);
    -ms-transform: rotate(-162deg);
    -o-transform: rotate(-162deg);
    transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
@font-face {
  font-family: QuicksandBold;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand-Bold/quicksand-bold.eot");
  src: url("/fonts/Quicksand-Bold/quicksand-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Bold/quicksand-bold.woff") format("woff"), url("/fonts/Quicksand-Bold/quicksand-bold.ttf") format("truetype"), url("/fonts/Quicksand-Bold/quicksand-bold.svg#QuicksandBold") format("svg"); }
@font-face {
  font-family: QuicksandRegular;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand-Regular/quicksand-regular.eot");
  src: url("/fonts/Quicksand-Regular/quicksand-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Regular/quicksand-regular.woff") format("woff"), url("/fonts/Quicksand-Regular/quicksand-regular.ttf") format("truetype"), url("/fonts/Quicksand-Regular/quicksand-regular.svg#QuicksandRegular") format("svg"); }
@font-face {
  font-family: QuicksandLight;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand-Light/quicksand-light.eot");
  src: url("/fonts/Quicksand-Light/quicksand-light.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand-Light/quicksand-light.woff") format("woff"), url("/fonts/Quicksand-Light/quicksand-light.ttf") format("truetype"), url("/fonts/Quicksand-Light/quicksand-light.svg#QuicksandLight") format("svg"); }
div.pages {
  position: relative;
  width: 100%; }

div#header {
  z-index: 1;
  padding: 2% 5% 4% 5%;
  min-width: 1000px;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.7); }
  div#header .logo {
    float: left;
    display: table-cell;
    vertical-align: middle; }
    div#header .logo:hover {
      cursor: pointer; }
  div#header #header-menu {
    float: right;
    padding-top: 4px; }
    div#header #header-menu ul.menu {
      margin: 0px;
      padding: 0px; }
      div#header #header-menu ul.menu li {
        display: inline;
        padding-right: 30px; }
    div#header #header-menu a.btm {
      color: #ffffff; }
      div#header #header-menu a.btm:hover {
        border-bottom: 4px solid;
        border-bottom-color: #daa503;
        cursor: pointer; }
  div#header #header-scl {
    float: right;
    padding-left: 37px;
    padding-right: 37px; }
    div#header #header-scl ul.social {
      margin: 0px;
      padding: 0px; }
      div#header #header-scl ul.social li {
        display: inline;
        padding-right: 7px; }
    div#header #header-scl div.scl-btm {
      display: inline-block;
      width: 33px;
      height: 33px; }
      div#header #header-scl div.scl-btm:hover {
        cursor: pointer; }
    div#header #header-scl div.scl-facebook {
      background-image: url("/img/user/social/facebook.png");
      background-repeat: no-repeat; }
    div#header #header-scl div.scl-pinterest {
      background-image: url("/img/user/social/pinterest.png");
      background-repeat: no-repeat; }
    div#header #header-scl div.scl-tumblr {
      background-image: url("/img/user/social/tumblr.png");
      background-repeat: no-repeat; }
  div#header #header-lang {
    float: right;
    padding-top: 4px;
    color: #767676; }
    div#header #header-lang ul.lang {
      margin: 0px;
      padding: 0px; }
      div#header #header-lang ul.lang li {
        display: inline; }
        div#header #header-lang ul.lang li:hover {
          cursor: pointer; }

/*# sourceMappingURL=global.css.map */
