@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_mixins.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/modules/_animations.scss';

@include font-face(Quicksand, '#{$fonts-patch}Quicksand-Bold/quicksand-bold', bold);
@include font-face(Quicksand, '#{$fonts-patch}Quicksand-Regular/quicksand-regular', 400);
@include font-face(Quicksand, '#{$fonts-patch}Quicksand-Light/quicksand-light', lighter);

@include font-face(Comfortaa, '#{$fonts-patch}Comfortaa-Bold/comfortaa-bold', bold);
@include font-face(Comfortaa, '#{$fonts-patch}Comfortaa-Regular/comfortaa-regular', 400);
@include font-face(Comfortaa, '#{$fonts-patch}Comfortaa-Light/comfortaa-light', lighter);

body {
	font-family: Comfortaa, sans-serif;
}

body.en {
	font-family: Quicksand;
}

div.pages {
	@extend %bg-image-cover;
	position: relative;
	width: 100%;
}

div#header {
	z-index: 1;
	padding: 2% 5% 4% 5%;
	min-width: 1000px;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.7);
	.logo {
		float: left;
		display: table-cell;
		vertical-align: middle;
		&:hover {
			cursor: pointer;
		}
	}
	#header-menu {
		float: right;
		padding-top: 4px;
		ul.menu {
			margin: 0px;
			padding: 0px;
			li {
				display: inline;
				padding-right: 30px;
			}
		}
		a.btm {
//			@extend %font-stl-header;
			font-weight: lighter;
			font-size: rem(18);

			color: #ffffff;
			&:hover {
				border-bottom: 4px solid;
				border-bottom-color: #daa503;
				cursor: pointer;
			}

		}
	}
	#header-scl {
		float: right;
		padding-left: 37px;
		padding-right: 37px;
		ul.social {
			margin: 0px;
			padding: 0px;
			li {
				display: inline;
				padding-right: 7px;
			}
		}
		div.scl-btm {
			display: inline-block;
			width: 33px;
			height: 33px;
			&:hover {
				cursor: pointer;
			}
		}
		div.scl-facebook {
			background-image: url(("#{$img-patch}social/facebook.png"));
			background-repeat: no-repeat;
		}

		div.scl-pinterest {
			background-image: url(("#{$img-patch}social/pinterest.png"));
			background-repeat: no-repeat;
		}

		div.scl-tumblr {
			background-image: url(("#{$img-patch}social/tumblr.png"));
			background-repeat: no-repeat;
		}
	}
	#header-lang {
		float: right;
		padding-top: 4px;
		font-weight: lighter;
		font-size: rem(18);
		color: #767676;
		ul.lang {
			margin: 0px;
			padding: 0px;
			li {
				display: inline;
				a.lang-btm {
					text-decoration: none;
					&:hover {
						cursor: pointer;
					}
					&:link {
						color: #767676;
					}
					&:visited {
						color: #767676;
					}
				}
			}

		}
	}
}
