/*
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}
*/
/* useful */
.error {
  color: #fd7b6a; }

.half {
  float: left;
  width: 50%;
  height: 100%; }

/* Useful stuff */
.adorable_container {
  /* Should have width */
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  display: table;
  position: relative; }
  .adorable_container:before {
    content: "";
    display: block;
    margin-top: 100%; }

.inline_adorable_container {
  /* Should have width */
  position: relative;
  display: inline-block;
  line-height: 0;
  letter-spacing: -1px;
  vertical-align: top; }
  .inline_adorable_container .adorable {
    line-height: normal;
    letter-spacing: normal; }
  .inline_adorable_container:before {
    content: "";
    display: block;
    margin-top: 100%; }

.adorable {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%; }

.adorable_table {
  display: table;
  height: 100%;
  width: 100%;
  position: relative; }

.adorable_cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  white-space: normal; }
  .adorable_cell.left {
    text-align: left; }
  .adorable_cell.right {
    text-align: right; }

.inline_container {
  display: inline-block;
  line-height: 0;
  letter-spacing: -1px; }
  .inline_container .inline {
    line-height: normal;
    letter-spacing: normal; }

.rounded {
  -moz-border-radius: 99999em;
  -webkit-border-radius: 99999em;
  -khtml-border-radius: 99999em;
  border-radius: 99999em; }

.border_boxed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#header {
  z-index: 1;
  padding: 0 5%;
  min-width: 1000px;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); }
  #header .wrapper-logo {
    float: left;
    height: 100%; }
    #header .wrapper-logo .logo:hover {
      cursor: pointer; }
  #header .wrapper-nav {
    float: right;
    height: 100%; }
    #header .wrapper-nav #header-menu ul.menu {
      margin: 0;
      padding: 0; }
      #header .wrapper-nav #header-menu ul.menu li {
        display: inline; }
      #header .wrapper-nav #header-menu ul.menu li + li {
        margin-left: 20px; }
    #header .wrapper-nav #header-menu a.btm {
      text-decoration: none;
      font-size: 1.125rem;
      color: #ffffff; }
      #header .wrapper-nav #header-menu a.btm:hover {
        border-bottom: #daa503 0.25rem solid;
        cursor: pointer; }
  #header .wrapper-scl {
    float: right;
    height: 100%;
    margin: 0 1.875rem; }
    #header .wrapper-scl #header-scl ul.social {
      margin: 0;
      padding: 0; }
      #header .wrapper-scl #header-scl ul.social li {
        display: inline-block;
        padding-right: 7px; }
        #header .wrapper-scl #header-scl ul.social li a {
          display: block; }
    #header .wrapper-scl #header-scl .scl-btm {
      display: inline-block; }
      #header .wrapper-scl #header-scl .scl-btm:hover {
        cursor: pointer; }
    #header .wrapper-scl #header-scl .scl-facebook {
      background: url("/img/user/social/social.png") no-repeat 0 0;
      width: 32px;
      height: 38px; }
    #header .wrapper-scl #header-scl .scl-pinterest {
      background: url("/img/user/social/social.png") no-repeat -46px 0;
      width: 40px;
      height: 38px; }
    #header .wrapper-scl #header-scl .scl-tumblr {
      background: url("/img/user/social/social.png") no-repeat -108px 0;
      width: 33px;
      height: 38px; }
  #header .wrapper-lng {
    float: right;
    height: 100%; }
    #header .wrapper-lng #header-lang {
      font-size: 1.125rem;
      color: #ffffff; }
      #header .wrapper-lng #header-lang ul.lang {
        margin: 0;
        padding: 0; }
        #header .wrapper-lng #header-lang ul.lang li {
          display: inline; }
          #header .wrapper-lng #header-lang ul.lang li a.lang-btm {
            text-decoration: none; }
            #header .wrapper-lng #header-lang ul.lang li a.lang-btm:hover, #header .wrapper-lng #header-lang ul.lang li a.lang-btm:link, #header .wrapper-lng #header-lang ul.lang li a.lang-btm:visited {
              cursor: pointer;
              color: #ffffff; }

.page1 {
  background: url("/img/user/bg-1.jpg") no-repeat; }
  .page1 .main-block {
    position: absolute;
    left: 2.65%;
    top: 31.4%; }
    .page1 .main-block p.slogan {
      color: #000000;
      font-size: 40px;
      margin-bottom: 6.5%; }
    .page1 .main-block p {
      color: #ffffff;
      font-size: 2.3125rem;
      line-height: 40px; }
  .page1 .button-scroll {
    z-index: 2;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5px;
    left: 49%;
    background: url("/img/user/button-arrow.png") no-repeat; }
    .page1 .button-scroll:hover {
      cursor: pointer; }

.page2 .about-l {
  float: left;
  width: 75.4%;
  height: 100%;
  background: url("/img/user/bg-2.jpg") no-repeat; }
.page2 .about-r {
  float: left;
  width: 24.6%;
  height: 100%;
  padding: 25px;
  background-color: #ffffff; }
  .page2 .about-r p {
    font-size: 1.375rem;
    color: #000000;
    line-height: 1.9375rem;
    text-align: left; }

.page3 {
  background: url("/img/user/bg-3.jpg") no-repeat; }
  .page3 .howItWork {
    position: relative;
    left: 10.85%;
    top: 17%;
    width: 51.5625rem;
    height: 33rem;
    background: url("/img/user/howItWork.png") no-repeat;
    background-size: 100% 100%;
    color: #000000;
    font-size: 1.875rem; }
    .page3 .howItWork .capital {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      width: 18.75rem; }
      .page3 .howItWork .capital.t-1 {
        position: absolute;
        left: -5.375rem;
        top: -2rem; }
      .page3 .howItWork .capital.t-2 {
        position: absolute;
        right: 7.1875rem;
        top: -2rem; }
      .page3 .howItWork .capital.t-3 {
        position: absolute;
        left: 10.9375rem;
        bottom: -3.9375rem; }
      .page3 .howItWork .capital.t-4 {
        position: absolute;
        right: -5.125rem;
        bottom: -3.9375rem; }
    .page3 .howItWork .content {
      position: relative;
      left: 0;
      top: 12.5rem; }
      .page3 .howItWork .content .desc {
        width: 17.1875rem;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.25rem; }
        .page3 .howItWork .content .desc.b-1 {
          position: absolute;
          left: -0.5rem;
          top: 0;
          text-align: left; }
        .page3 .howItWork .content .desc.b-2 {
          position: absolute;
          left: 17.5625rem;
          top: 0;
          text-align: left; }
        .page3 .howItWork .content .desc.b-3 {
          position: absolute;
          right: -2.375rem;
          top: 0;
          text-align: right; }

.page4 .works-l {
  float: left;
  width: 75.4%;
  height: 100%;
  background: url("/img/user/bg-4.jpg") no-repeat; }
.page4 .works-r {
  float: left;
  width: 24.6%;
  height: 100%;
  background-color: #ffffff; }
  .page4 .works-r .wrapper-nav {
    width: 100%; }
    .page4 .works-r .wrapper-nav .nav {
      height: 49px;
      margin: 0 auto;
      display: inline-block; }
      .page4 .works-r .wrapper-nav .nav .label {
        height: 100%;
        float: left; }
        .page4 .works-r .wrapper-nav .nav .label p {
          font-size: 1.375rem;
          color: #000000; }
      .page4 .works-r .wrapper-nav .nav .btn-arrow-work {
        float: left;
        width: 49px;
        height: 49px;
        background: url("/img/user/btn-arrow-r.png") no-repeat;
        margin-left: 10px; }
        .page4 .works-r .wrapper-nav .nav .btn-arrow-work:hover {
          cursor: pointer; }

.page5 {
  background-color: #262626;
  padding: 0.9375rem; }
  .page5 .wrapper-contact {
    overflow: hidden;
    height: 37.625rem;
    margin-top: 6%; }
    .page5 .wrapper-contact .cont-l {
      height: 100%;
      margin-right: 28.3125rem; }
    .page5 .wrapper-contact .cont-r {
      float: right;
      width: 26.4375rem;
      height: 100%;
      margin-left: 1.875rem;
      background: url("/img/user/we.jpg") no-repeat;
      background-size: 100% 100%; }
  .page5 .wrapper-social {
    float: left;
    margin: 3.5% 0 0 5%; }
    .page5 .wrapper-social .label {
      line-height: 20px;
      text-align: center; }
      .page5 .wrapper-social .label p {
        color: #ffffff;
        font-size: 1rem; }
    .page5 .wrapper-social .social {
      width: 100%;
      margin-top: 18px;
      text-align: center; }
      .page5 .wrapper-social .social a {
        display: block; }
      .page5 .wrapper-social .social .facebook {
        background: url("/img/user/social/social.png") no-repeat 0 0;
        width: 32px;
        height: 38px; }
      .page5 .wrapper-social .social .inst {
        background: url("/img/user/social/social.png") no-repeat -46px 0;
        width: 40px;
        height: 38px; }
      .page5 .wrapper-social .social .twitter {
        background: url("/img/user/social/social.png") no-repeat -108px 0;
        width: 33px;
        height: 38px; }
      .page5 .wrapper-social .social .google-plus {
        background: url("/img/user/social/social.png") no-repeat -156px 0;
        width: 38px;
        height: 38px; }
      .page5 .wrapper-social .social .facebook:hover, .page5 .wrapper-social .social .inst:hover, .page5 .wrapper-social .social .twitter:hover, .page5 .wrapper-social .social .google-plus:hover {
        cursor: pointer; }
    .page5 .wrapper-social ul {
      margin: 0;
      padding: 0; }
      .page5 .wrapper-social ul li {
        display: inline-block; }
      .page5 .wrapper-social ul li + li {
        padding-left: 12px; }
  .page5 .wrapper-address {
    float: right;
    position: relative;
    color: #ffffff;
    font-size: 1rem;
    margin: 2% 2.3% 0 0; }
    .page5 .wrapper-address .line-1 {
      position: relative;
      padding: 1px; }
      .page5 .wrapper-address .line-1:after {
        content: '';
        position: absolute;
        left: -39px;
        top: 0;
        background: url("/img/user/icons.png") no-repeat 0 0;
        width: 21px;
        height: 29px; }
    .page5 .wrapper-address .line-2 {
      position: relative;
      padding: 1px; }
      .page5 .wrapper-address .line-2:after {
        content: '';
        position: absolute;
        left: -39px;
        top: 0;
        background: url("/img/user/icons.png") no-repeat -23px 0;
        width: 18px;
        height: 24px; }
    .page5 .wrapper-address .line-3 {
      position: relative;
      padding: 1px; }
      .page5 .wrapper-address .line-3:after {
        content: '';
        position: absolute;
        left: -39px;
        top: 0;
        background: url("/img/user/icons.png") no-repeat -43px 0;
        width: 26px;
        height: 15px; }
    .page5 .wrapper-address ul {
      margin: 0;
      padding: 0; }
      .page5 .wrapper-address ul li + li {
        margin-top: 6%; }

/*# sourceMappingURL=simplePage.css.map */
