@charset "UTF-8";
@import '../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../scss/base/_variables.scss';
@import '../../../../../scss/base/_placeholders.scss';
@import '../../../../../scss/base/_useful.scss';

#header {
	z-index: 1;
	padding: 2% 5% 4% 5%;
	min-width: 1000px;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.7);

	.logo {
		float: left;
		display: table-cell;
		vertical-align: middle;

		&:hover {
			cursor: pointer;
		}
	}

	#header-menu {
		float: right;
		padding-top: 10px;

		ul.menu {
			margin: 0;
			padding: 0;
			li {
				display: inline;
				padding-right: 5%;
			}
		}

		a.btm {
			text-decoration: none;
			font-weight: lighter;
			font-size: rem(18);

			color: #ffffff;

			&:hover {
				border-bottom: #daa503 4px solid;
				cursor: pointer;
			}

		}
	}

	#header-scl {
		float: right;
		padding-left: 3%;
		padding-right: 4%;

		ul.social {
			margin: 0;
			padding: 0;

			li {
				display: inline;
				padding-right: 7px;
			}
		}

		div.scl-btm {
			display: inline-block;

			&:hover {
				cursor: pointer;
			}
		}

		div.scl-facebook {
			background: url("#{$img-patch}social/social.png") no-repeat 0 0;
			width: 32px;
			height: 38px;
		}

		div.scl-pinterest {
			background: url("#{$img-patch}social/social.png") no-repeat -46px 0;
			width: 40px;
			height: 38px;
		}

		div.scl-tumblr {
			background: url("#{$img-patch}social/social.png") no-repeat -108px 0;
			width: 33px;
			height: 38px;
		}
	}

	#header-lang {
		float: right;
		padding-top: 10px;
		font-size: rem(18);
		color: #ffffff;

		ul.lang {
			margin: 0;
			padding: 0;

			li {
				display: inline;

				a.lang-btm {
					text-decoration: none;

					&:hover, &:link, &:visited {
						cursor: pointer;
						color: #767676;
					}
				}
			}
		}
	}
}

.page1 {
	background: url("#{$img-patch}bg-1.jpg") no-repeat;

	.main-block {
		position: absolute;
		left: 2.65%;
		top: 31.4%;

		p.slogan {
			color: #000000;
			font-size: 40px;
			margin-bottom: 6.5%;
		}

		p {
			color: #ffffff;
			font-size: rem(37);
			line-height: 40px;
		}
	}

	.button-scroll {
		z-index: 2;
		width: 50px;
		height: 50px;
		position: fixed;
		bottom: 5px;
		left: 49%;
		background: url("#{$img-patch}button-arrow.png") no-repeat;

		&:hover {
			cursor: pointer;
		}
	}
}

.page2 {

	.about-l {
		float: left;
		width: 75.4%;
		height: 100%;
		background: url("#{$img-patch}bg-2.jpg") no-repeat;
	}

	.about-r {
		float: left;
		width: 24.6%;
		height: 100%;
		padding: 25px;
		background-color: #ffffff;

		p {
			font-size: rem(22);
			color: #000000;
			line-height: 31px;
			text-align: left;
		}
	}
}

.page3 {
	background: url("#{$img-patch}bg-3.jpg") no-repeat;

	.howItWork {
		position: relative;
		left: 10.85%;
		top: 17%; //27
		width: 825px;
		height: 528px;
		background: url("#{$img-patch}howItWork.png") no-repeat;
		color: #000000;
		font-size: 30px;

		.capital {
			font-size: rem(24);
			font-weight: bold;
			text-align: center;
			width: 300px;

			&.t-1 {
				position: absolute;
				left: -86px;
				top: -32px;
			}

			&.t-2 {
				position: absolute;
				right: 115px;
				top: -32px;
			}

			&.t-3 {
				position: absolute;
				left: 175px;
				bottom: -63px;
			}

			&.t-4 {
				position: absolute;
				right: -82px;
				bottom: -63px;
			}
		}

		.content {
			position: relative;
			left: 0;
			top: 200px;

			.desc {
				width: 275px;
				font-size: rem(18);
				font-weight: bold;
				line-height: 20px;

				&.b-1 {
					position: absolute;
					left: -8px;
					top: 0;
					text-align: left;
				}

				&.b-2 {
					position: absolute;
					left: 281px;
					top: 0;
					text-align: left;
				}

				&.b-3 {
					position: absolute;
					right: -38px;
					top: 0;
					text-align: right;
				}
			}
		}
	}
}

.page4 {

	.works-l {
		float: left;
		width: 75.4%;
		height: 100%;
		background: url("#{$img-patch}bg-4.jpg") no-repeat;
	}

	.works-r {
		float: left;
		width: 24.6%;
		height: 100%;
		background-color: #ffffff;

		.wrapper-nav {
			width: 100%;

			.nav {
				height: 49px;
				margin: 0 auto;
				display: inline-block;

				.label {
					height: 100%;
					float: left;

					p {
						font-size: rem(22);
						color: #000000;
					}
				}

				.btn-arrow-work {
					float: left;
					width: 49px;
					height: 49px;
					background: url("#{$img-patch}btn-arrow-r.png") no-repeat;
					margin-left: 10px;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.page5 {
	background-color: #262626;
	padding: 15px;

	.wrapper-contact {
		width: 100%;
		height: 602px;
		margin-top: 6%;

		.cont-l {
			float: left;
			height: 100%;
			background-color: white;
		}

		.cont-r {
			float: left;
			width: 423px;
			height: 100%;
			margin-left: 30px;
			background: url("#{$img-patch}we.jpg") no-repeat;
		}
	}

	.wrapper-social {
		float: left;
		margin: 3.5% 0 0 5%;

		.label {
			line-height: 20px;
			text-align: center;

			p {
				color: #ffffff;
				font-size: rem(16);
			}
		}

		.social {
			width: 100%;
			margin-top: 18px;
			text-align: center;

			.facebook {
				background: url("#{$img-patch}social/social.png") no-repeat 0 0;
				width: 32px;
				height: 38px;
			}

			.inst {
				background: url("#{$img-patch}social/social.png") no-repeat -46px 0;
				width: 40px;
				height: 38px;
			}

			.twitter {
				background: url("#{$img-patch}social/social.png") no-repeat -108px 0;
				width: 33px;
				height: 38px;
			}

			.google-plus {
				background: url("#{$img-patch}social/social.png") no-repeat -156px 0;
				width: 38px;
				height: 38px;
			}

			.facebook, .inst, .twitter, .google-plus {
				&:hover {
					cursor: pointer;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
			}

			li + li {
				padding-left: 12px;
			}
		}
	}

	.wrapper-address {
		float: right;
		position: relative;
		color: #ffffff;
		font-size: rem(16);
		margin: 2% 2.3% 0 0;

		.line-1 {
			position: relative;
			padding: 1px;

			&:after {
				content: '';
				position: absolute;
				left: -39px;
				top: 0;
				background: url("#{$img-patch}icons.png") no-repeat 0 0;
				width: 21px;
				height: 29px;
			}
		}

		.line-2 {
			position: relative;
			padding: 1px;

			&:after {
				content: '';
				position: absolute;
				left: -39px;
				top: 0;
				background: url("#{$img-patch}icons.png") no-repeat -23px 0;
				width: 18px;
				height: 24px;
			}
		}

		.line-3 {
			position: relative;
			padding: 1px;

			&:after {
				content: '';
				position: absolute;
				left: -39px;
				top: 0;
				background: url("#{$img-patch}icons.png") no-repeat -43px 0;
				width: 26px;
				height: 15px;
			}
		}

		ul {
			margin: 0;
			padding: 0;

			li + li {
				margin-top: 6%;
			}
		}
	}
}