div.page5 #view-line-process-p5 .circle-1-process-p5, div.page5 #view-line-process-p5 .circle-2-process-p5, div.page5 #view-line-process-p5 .circle-3-process-p5, div.page5 #view-line-process-p5 .circle-4-process-p5, div.page5 #view-line-process-p5 .circle-6-process-p5, div.page5 #view-line-process-p5 .circle-7-process-p5, div.page5 #view-line-process-p5 .circle-8-process-p5 {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #213635;
  border-radius: 25px;
  border: 2px solid;
  border-color: #d9e1bf;
  bottom: -15px; }

div.page5 #view-line-process-p5 .circle-1-process-p5 .delta-1-p5, div.page5 #view-line-process-p5 .circle-3-process-p5 .delta-3-p5, div.page5 #view-line-process-p5 .circle-8-process-p5 .delta-8-p5 {
  position: absolute;
  right: 0;
  bottom: -24px;
  width: 0;
  height: 0;
  border-style: solid; }

div.page5 #view-line-process-p5 .circle-2-process-p5 .delta-2-p5, div.page5 #view-line-process-p5 .circle-4-process-p5 .delta-4-p5, div.page5 #view-line-process-p5 .circle-6-process-p5 .delta-6-p5, div.page5 #view-line-process-p5 .circle-7-process-p5 .delta-7-p5 {
  position: absolute;
  top: -25px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid; }

@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#header {
  z-index: 1;
  padding: 2% 5% 4% 5%;
  min-width: 1000px;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 7px 5px 3px rgba(0, 0, 0, 0.7); }
  #header .logo {
    float: left;
    display: table-cell;
    vertical-align: middle; }
    #header .logo:hover {
      cursor: pointer; }
  #header #header-menu {
    float: right;
    padding-top: 4px; }
    #header #header-menu ul.menu {
      margin: 0px;
      padding: 0px; }
      #header #header-menu ul.menu li {
        display: inline;
        padding-right: 30px; }
    #header #header-menu a.btm {
      text-decoration: none;
      font-weight: lighter;
      font-size: 1.125rem;
      color: #ffffff; }
      #header #header-menu a.btm:hover {
        border-bottom: 4px solid;
        border-bottom-color: #daa503;
        cursor: pointer; }
  #header #header-scl {
    float: right;
    padding-left: 37px;
    padding-right: 37px; }
    #header #header-scl ul.social {
      margin: 0px;
      padding: 0px; }
      #header #header-scl ul.social li {
        display: inline;
        padding-right: 7px; }
    #header #header-scl div.scl-btm {
      display: inline-block;
      width: 33px;
      height: 33px; }
      #header #header-scl div.scl-btm:hover {
        cursor: pointer; }
    #header #header-scl div.scl-facebook {
      background-image: url("/img/user/social/facebook.png");
      background-repeat: no-repeat; }
    #header #header-scl div.scl-pinterest {
      background-image: url("/img/user/social/pinterest.png");
      background-repeat: no-repeat; }
    #header #header-scl div.scl-tumblr {
      background-image: url("/img/user/social/tumblr.png");
      background-repeat: no-repeat; }
  #header #header-lang {
    float: right;
    padding-top: 4px;
    font-weight: lighter;
    font-size: 1.125rem;
    color: #767676; }
    #header #header-lang ul.lang {
      margin: 0px;
      padding: 0px; }
      #header #header-lang ul.lang li {
        display: inline; }
        #header #header-lang ul.lang li a.lang-btm {
          text-decoration: none; }
          #header #header-lang ul.lang li a.lang-btm:hover {
            cursor: pointer; }
          #header #header-lang ul.lang li a.lang-btm:link {
            color: #767676; }
          #header #header-lang ul.lang li a.lang-btm:visited {
            color: #767676; }

div.page1 {
  background-image: url("/img/user/first-page-bg.png"); }
  div.page1 #content-text-p1 {
    top: 44%;
    left: 4%;
    position: absolute; }
    div.page1 #content-text-p1 .slg-text1 {
      width: 100%;
      height: 50px;
      color: #ffffff;
      font-size: 2.375rem;
      font-weight: 400; }
    div.page1 #content-text-p1 .slg-text2 {
      color: #ffffff;
      font-size: 2.375rem;
      font-weight: 400;
      padding-top: 20px;
      width: 100%;
      height: 50px; }
  div.page1 .button-scroll {
    z-index: 2;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5px;
    left: 49%;
    background-image: url("/img/user/button-arrow.png");
    background-repeat: no-repeat; }
    div.page1 .button-scroll:hover {
      cursor: pointer; }

div.page2 {
  background-image: url("/img/user/about-1-bg-2.png"); }
  div.page2 #view-text-p2 {
    position: absolute;
    width: 40%;
    top: 15%;
    right: 5%; }
    div.page2 #view-text-p2 .content-img-p2 {
      width: 58px;
      height: 59px;
      margin-left: -7px;
      background-image: url("/img/user/btn-1.png");
      background-repeat: no-repeat; }
    div.page2 #view-text-p2 .content-text1-p2 {
      margin: 20px 0px;
      font-weight: bold;
      color: #000000;
      font-size: 1.5rem; }
    div.page2 #view-text-p2 .content-text2-p2 {
      font-weight: lighter;
      color: #000000;
      font-size: 1.375rem; }

div.page3 {
  background-image: url("/img/user/about-2-bg-3.png"); }
  div.page3 #view-text-p3 {
    position: absolute;
    width: 40%;
    top: 15%;
    left: 5%; }
    div.page3 #view-text-p3 .content-img-p3 {
      width: 58px;
      height: 59px;
      margin-left: -7px;
      background-image: url("/img/user/btn-2.png");
      background-repeat: no-repeat; }
    div.page3 #view-text-p3 .content-text1-p3 {
      font-weight: bold;
      margin: 20px 0px;
      color: #000000;
      font-size: 1.5rem; }
    div.page3 #view-text-p3 .content-text2-p3 {
      font-weight: lighter;
      color: #000000;
      font-size: 1.375rem; }

div.page4 {
  background-image: url("/img/user/work-bg.png"); }
  div.page4 #view-text-work {
    position: absolute;
    width: 40%;
    top: 15%;
    left: 5%; }
    div.page4 #view-text-work .title-work {
      font-size: 2.25rem;
      font-weight: 400;
      color: #000000;
      padding-right: 15px;
      float: left; }
    div.page4 #view-text-work .btn-arrow-work {
      background-image: url("/img/user/btn-arrow-r.png");
      width: 59px;
      height: 63px;
      float: left; }
      div.page4 #view-text-work .btn-arrow-work:hover {
        cursor: pointer; }
    div.page4 #view-text-work .content-box-work {
      font-size: 1.375rem;
      font-weight: 400;
      color: #424242;
      padding-top: 30px;
      float: left; }

div.page5 {
  background-image: url("/img/user/how-it-work-bg-4.png"); }
  div.page5 #view-text-p5 {
    position: absolute;
    width: 60%;
    top: 15%;
    left: 20%; }
    div.page5 #view-text-p5 .text-head-p5 {
      font-weight: lighter;
      text-align: center;
      color: #ffffff;
      font-size: 1.375rem; }
    div.page5 #view-text-p5 .text-content-1-p5 {
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      margin-top: 35px;
      margin-bottom: 35px;
      font-size: 2.125rem; }
    div.page5 #view-text-p5 .text-content-2-p5 {
      font-weight: lighter;
      text-align: center;
      color: #ffffff;
      line-height: 1.5;
      font-size: 1.375rem; }
  div.page5 #view-line-process-p5 {
    position: absolute;
    width: 80%;
    height: 17px;
    left: 10%;
    top: 70%;
    border: 3px solid;
    border-color: #d9e1bf; }
    div.page5 #view-line-process-p5 .process-box-top-p5 {
      padding: 10px 20px;
      position: absolute;
      bottom: 90px;
      right: 20px;
      background-color: #d9e1bf; }
    div.page5 #view-line-process-p5 .process-box-bot-p5 {
      padding: 10px 20px;
      position: absolute;
      bottom: -133px;
      right: 20px;
      background-color: #d9e1bf; }
    div.page5 #view-line-process-p5 .process-text1-p5 {
      text-align: center;
      white-space: nowrap;
      font-weight: 400;
      color: #000000;
      font-size: 1.5rem; }
    div.page5 #view-line-process-p5 .process-text2-p5 {
      text-align: center;
      white-space: nowrap;
      font-weight: 400;
      color: #000000;
      font-size: 1.375rem; }
    div.page5 #view-line-process-p5 .circle-1-process-p5 {
      left: 5%; }
      div.page5 #view-line-process-p5 .circle-1-process-p5 .delta-1-p5 {
        float: right;
        border-width: 0 27px 27px 0;
        border-color: transparent #d9e1bf transparent transparent; }
    div.page5 #view-line-process-p5 .circle-2-process-p5 {
      left: 15%; }
      div.page5 #view-line-process-p5 .circle-2-process-p5 .delta-2-p5 {
        float: right;
        border-width: 0 0 27px 27px;
        border-color: transparent transparent #d9e1bf transparent; }
    div.page5 #view-line-process-p5 .circle-3-process-p5 {
      left: 30%; }
      div.page5 #view-line-process-p5 .circle-3-process-p5 .delta-3-p5 {
        float: right;
        border-width: 0 27px 27px 0;
        border-color: transparent #d9e1bf transparent transparent; }
    div.page5 #view-line-process-p5 .circle-4-process-p5 {
      left: 45%; }
      div.page5 #view-line-process-p5 .circle-4-process-p5 .delta-4-p5 {
        float: right;
        border-width: 0 0 27px 27px;
        border-color: transparent transparent #d9e1bf transparent; }
    div.page5 #view-line-process-p5 .circle-5-process-p5 {
      position: absolute;
      width: 42px;
      height: 42px;
      bottom: -15px;
      left: 55%;
      border-radius: 25px;
      border: 2px solid;
      border-color: #d9e1bf;
      background-color: #213635; }
      div.page5 #view-line-process-p5 .circle-5-process-p5 .process-box-top-l-p5 {
        padding: 10px 20px;
        position: absolute;
        bottom: 90px;
        left: 15px;
        background-color: #d9e1bf; }
      div.page5 #view-line-process-p5 .circle-5-process-p5 .delta-5-p5 {
        position: absolute;
        left: 0;
        bottom: -24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 27px 27px 0 0;
        border-color: #d9e1bf transparent transparent transparent; }
    div.page5 #view-line-process-p5 .circle-6-process-p5 {
      left: 65%; }
      div.page5 #view-line-process-p5 .circle-6-process-p5 .delta-6-p5 {
        float: right;
        border-width: 0 0 27px 27px;
        border-color: transparent transparent #d9e1bf transparent; }
    div.page5 #view-line-process-p5 .circle-7-process-p5 {
      left: 75%; }
      div.page5 #view-line-process-p5 .circle-7-process-p5 .process-box-bot-1-p5 {
        padding: 10px 20px;
        position: absolute;
        bottom: -133px;
        left: 20px;
        background-color: #d9e1bf; }
      div.page5 #view-line-process-p5 .circle-7-process-p5 .delta-7-p5 {
        left: 0px;
        top: -24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 27px 0 0 27px;
        border-color: transparent transparent transparent #d9e1bf; }
    div.page5 #view-line-process-p5 .circle-8-process-p5 {
      left: 90%; }
      div.page5 #view-line-process-p5 .circle-8-process-p5 .delta-8-p5 {
        float: right;
        border-width: 0 27px 27px 0;
        border-color: transparent #d9e1bf transparent transparent; }

.block-contacts {
  width: 100%;
  height: 290px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(0, 0, 0, 0.70196); }
  .block-contacts .footer-contacts {
    padding: 2% 0px;
    width: 100%;
    height: 100%; }
    .block-contacts .footer-contacts .line-cont {
      width: 70px;
      height: 3px;
      margin-bottom: 10px;
      background-color: #ffffff; }
    .block-contacts .footer-contacts .font-stl-contacts {
      font-size: 1.125rem;
      font-weight: normal;
      color: #ffffff;
      margin-bottom: 30px; }
    .block-contacts .footer-contacts .font-stl-content-con {
      font-weight: lighter;
      font-size: 0.875rem;
      color: #ffffff;
      margin-top: 20px; }
    .block-contacts .footer-contacts #partners-cont {
      float: left;
      width: 27%;
      border-right: 1px solid;
      border-color: white;
      height: 160px; }
      .block-contacts .footer-contacts #partners-cont .content-text1 {
        width: 99px;
        height: 31px;
        background-image: url("/img/user/vitrage-life.png"); }
      .block-contacts .footer-contacts #partners-cont .content-text2 {
        font-size: 1rem;
        font-weight: lighter;
        color: #ffffff; }
    .block-contacts .footer-contacts .block-follow {
      text-align: center;
      float: left;
      width: 44%;
      height: 100%; }
      .block-contacts .footer-contacts .block-follow #follow-cont {
        text-align: left;
        display: inline-block;
        vertical-align: top; }
        .block-contacts .footer-contacts .block-follow #follow-cont ul.social-cont {
          margin: 0px;
          padding: 0px; }
          .block-contacts .footer-contacts .block-follow #follow-cont ul.social-cont li {
            display: inline;
            padding-right: 7px; }
        .block-contacts .footer-contacts .block-follow #follow-cont div.scl-btm-cont {
          display: inline-block;
          width: 33px;
          height: 33px; }
          .block-contacts .footer-contacts .block-follow #follow-cont div.scl-btm-cont:hover {
            cursor: pointer; }
        .block-contacts .footer-contacts .block-follow #follow-cont div.scl-pinterest-cnt {
          background-image: url("/img/user/social/pinterest-cnt.png");
          background-repeat: no-repeat; }
        .block-contacts .footer-contacts .block-follow #follow-cont div.scl-facebook-cnt {
          background-image: url("/img/user/social/facebook-cnt.png");
          background-repeat: no-repeat; }
        .block-contacts .footer-contacts .block-follow #follow-cont div.scl-vk-cnt {
          background-image: url("/img/user/social/vk-cnt.png");
          background-repeat: no-repeat; }
        .block-contacts .footer-contacts .block-follow #follow-cont div.scl-vimeo-cnt {
          background-image: url("/img/user/social/vimeo-cnt.png");
          background-repeat: no-repeat; }
        .block-contacts .footer-contacts .block-follow #follow-cont div.scl-google-cnt {
          background-image: url("/img/user/social/google-cnt.png");
          background-repeat: no-repeat; }
    .block-contacts .footer-contacts #contact-cont {
      float: left;
      padding-left: 6%;
      width: 29%;
      border-left: 1px solid;
      border-color: white;
      height: 160px; }

/*# sourceMappingURL=simplePage.css.map */
