div.page1 #content-text-p1 .slg-text1, div.page1 #content-text-p1 .slg-text2 {
  font-family: "QuicksandLight";
  color: #ffffff;
  font-size: 48px;
  text-shadow: -6px 8px 6px rgba(0, 0, 0, 0.9); }

div.page2 #view-text-p2 .content-text1-p2, div.page3 #view-text-p3 .content-text1-p3 {
  font-family: 'QuicksandBold';
  color: #000000;
  font-size: 30px; }

div.page2 #view-text-p2 .content-text2-p2, div.page3 #view-text-p3 .content-text2-p3 {
  font-family: "QuicksandLight";
  color: #000000;
  font-size: 30px; }

div.page5 #view-text-p5 .text-head-p5, div.page5 #view-text-p5 .text-content-1-p5, div.page5 #view-text-p5 .text-content-2-p5, div.page5 #view-line-process-p5 .process-text1-p5, div.page5 #view-line-process-p5 .process-text2-p5 {
  font-family: "QuicksandLight";
  text-align: center; }

div.page5 #view-line-process-p5 .circle-1-process-p5, div.page5 #view-line-process-p5 .circle-2-process-p5, div.page5 #view-line-process-p5 .circle-3-process-p5, div.page5 #view-line-process-p5 .circle-4-process-p5, div.page5 #view-line-process-p5 .circle-6-process-p5, div.page5 #view-line-process-p5 .circle-7-process-p5, div.page5 #view-line-process-p5 .circle-8-process-p5 {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #213635;
  border-radius: 25px;
  border: 2px solid;
  border-color: #d9e1bf;
  bottom: -15px; }

div.page5 #view-line-process-p5 .circle-1-process-p5 .delta-1-p4, div.page5 #view-line-process-p5 .circle-3-process-p5 .delta-3-p4, div.page5 #view-line-process-p5 .circle-8-process-p5 .delta-8-p5 {
  position: absolute;
  right: 0;
  top: 83px;
  width: 0;
  height: 0;
  border-style: solid; }

div.page5 #view-line-process-p5 .circle-2-process-p5 .delta-2-p4, div.page5 #view-line-process-p5 .circle-4-process-p5 .delta-4-p4, div.page5 #view-line-process-p5 .circle-6-process-p5 .delta-6-p4, div.page5 #view-line-process-p5 .circle-7-process-p5 .delta-7-p5 {
  position: absolute;
  top: -25px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid; }

@-webkit-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes disappearing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg); } }
@-moz-keyframes rotate-btn {
  10% {
    -moz-transform: rotate(-18deg); }
  20% {
    -moz-transform: rotate(-36deg); }
  30% {
    -moz-transform: rotate(-54deg); }
  40% {
    -moz-transform: rotate(-72deg); }
  50% {
    -moz-transform: rotate(-90deg); }
  60% {
    -moz-transform: rotate(-108deg); }
  70% {
    -moz-transform: rotate(-126deg); }
  80% {
    -moz-transform: rotate(-144deg); }
  90% {
    -moz-transform: rotate(-162deg); }
  100% {
    -moz-transform: rotate(-180deg); } }
@keyframes rotate-btn {
  10% {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg); }
  20% {
    -webkit-transform: rotate(-36deg);
    -moz-transform: rotate(-36deg);
    -ms-transform: rotate(-36deg);
    -o-transform: rotate(-36deg);
    transform: rotate(-36deg); }
  30% {
    -webkit-transform: rotate(-54deg);
    -moz-transform: rotate(-54deg);
    -ms-transform: rotate(-54deg);
    -o-transform: rotate(-54deg);
    transform: rotate(-54deg); }
  40% {
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg); }
  50% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  60% {
    -webkit-transform: rotate(-108deg);
    -moz-transform: rotate(-108deg);
    -ms-transform: rotate(-108deg);
    -o-transform: rotate(-108deg);
    transform: rotate(-108deg); }
  70% {
    -webkit-transform: rotate(-126deg);
    -moz-transform: rotate(-126deg);
    -ms-transform: rotate(-126deg);
    -o-transform: rotate(-126deg);
    transform: rotate(-126deg); }
  80% {
    -webkit-transform: rotate(-144deg);
    -moz-transform: rotate(-144deg);
    -ms-transform: rotate(-144deg);
    -o-transform: rotate(-144deg);
    transform: rotate(-144deg); }
  90% {
    -webkit-transform: rotate(-162deg);
    -moz-transform: rotate(-162deg);
    -ms-transform: rotate(-162deg);
    -o-transform: rotate(-162deg);
    transform: rotate(-162deg); }
  100% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
div.page1 {
  background-image: url("/img/user/first-page-bg.png"); }
  div.page1 #content-text-p1 {
    top: 44%;
    left: 4%;
    position: absolute; }
    div.page1 #content-text-p1 .slg-text1 {
      width: 100%;
      height: 50px; }
    div.page1 #content-text-p1 .slg-text2 {
      padding-top: 20px;
      width: 100%;
      height: 50px; }
  div.page1 .button-scroll {
    z-index: 2;
    width: 59px;
    height: 58px;
    position: fixed;
    bottom: 0;
    left: 49%;
    background-image: url("/img/user/button-arrow.png");
    background-repeat: no-repeat; }
    div.page1 .button-scroll:hover {
      cursor: pointer; }
    div.page1 .button-scroll.button-rotate {
      -webkit-animation: rotate-btn 1s ease-in;
      -moz-animation: rotate-btn 1s ease-in;
      animation: rotate-btn 1s ease-in; }

div.page2 {
  background-image: url("/img/user/about-1-bg-2.png"); }
  div.page2 #view-text-p2 {
    position: absolute;
    width: 40%;
    top: 15%;
    right: 5%; }
    div.page2 #view-text-p2 .content-img-p2 {
      width: 58px;
      height: 59px;
      margin-left: -7px;
      background-image: url("/img/user/btn-1.png");
      background-repeat: no-repeat; }
    div.page2 #view-text-p2 .content-text1-p2 {
      margin: 20px 0px; }

div.page3 {
  background-image: url("/img/user/about-2-bg-3.png"); }
  div.page3 #view-text-p3 {
    position: absolute;
    width: 40%;
    top: 15%;
    left: 5%; }
    div.page3 #view-text-p3 .content-img-p3 {
      width: 58px;
      height: 59px;
      margin-left: -7px;
      background-image: url("/img/user/btn-2.png");
      background-repeat: no-repeat; }
    div.page3 #view-text-p3 .content-text1-p3 {
      margin: 20px 0px; }

div.page4 {
  background-image: url("/img/user/work-bg.png"); }
  div.page4 #view-text-work {
    position: absolute;
    width: 40%;
    top: 15%;
    left: 5%; }
    div.page4 #view-text-work .title-work {
      font-family: "QuicksandRegular";
      font-size: 46px;
      font-weight: 100;
      color: #000000;
      width: 50%;
      float: left; }
    div.page4 #view-text-work .btn-arrow-work {
      background-image: url("/img/user/btn-arrow-r.png");
      width: 59px;
      height: 63px;
      float: left; }
      div.page4 #view-text-work .btn-arrow-work:hover {
        cursor: pointer; }
    div.page4 #view-text-work .content-box-work {
      font-family: "QuicksandLight";
      font-size: 28px;
      font-weight: 200;
      color: #000000;
      padding-top: 30px;
      float: left; }

div.page5 {
  background-image: url("/img/user/how-it-work-bg-4.png"); }
  div.page5 #view-text-p5 {
    position: absolute;
    width: 60%;
    top: 15%;
    left: 20%; }
    div.page5 #view-text-p5 .text-head-p5 {
      color: #ffffff;
      font-size: 24px; }
    div.page5 #view-text-p5 .text-content-1-p5 {
      color: #ffffff;
      margin-top: 35px;
      font-size: 54px; }
    div.page5 #view-text-p5 .text-content-2-p5 {
      color: #ffffff;
      line-height: 1.5;
      font-size: 24px; }
  div.page5 #view-line-process-p5 {
    position: absolute;
    width: 80%;
    height: 17px;
    left: 10%;
    top: 70%;
    border: 3px solid;
    border-color: #d9e1bf; }
    div.page5 #view-line-process-p5 .process-box-top-p5 {
      padding: 10px 20px;
      position: absolute;
      bottom: 90px;
      right: 20px;
      background-color: #d9e1bf; }
    div.page5 #view-line-process-p5 .process-box-bot-p5 {
      padding: 10px 20px;
      position: absolute;
      bottom: -133px;
      right: 20px;
      background-color: #d9e1bf; }
    div.page5 #view-line-process-p5 .process-text1-p5 {
      white-space: nowrap;
      font-weight: bold;
      color: #000000;
      font-size: 42px; }
    div.page5 #view-line-process-p5 .process-text2-p5 {
      white-space: nowrap;
      font-weight: bold;
      color: #000000;
      font-size: 22px; }
    div.page5 #view-line-process-p5 .circle-1-process-p5 {
      left: 6%; }
      div.page5 #view-line-process-p5 .circle-1-process-p5 .delta-1-p4 {
        float: right;
        border-width: 0 27px 27px 0;
        border-color: transparent #d9e1bf transparent transparent; }
    div.page5 #view-line-process-p5 .circle-2-process-p5 {
      left: 16%; }
      div.page5 #view-line-process-p5 .circle-2-process-p5 .delta-2-p4 {
        float: right;
        border-width: 0 0 27px 27px;
        border-color: transparent transparent #d9e1bf transparent; }
    div.page5 #view-line-process-p5 .circle-3-process-p5 {
      left: 25%; }
      div.page5 #view-line-process-p5 .circle-3-process-p5 .delta-3-p4 {
        float: right;
        border-width: 0 27px 27px 0;
        border-color: transparent #d9e1bf transparent transparent; }
    div.page5 #view-line-process-p5 .circle-4-process-p5 {
      left: 40%; }
      div.page5 #view-line-process-p5 .circle-4-process-p5 .delta-4-p4 {
        float: right;
        border-width: 0 0 27px 27px;
        border-color: transparent transparent #d9e1bf transparent; }
    div.page5 #view-line-process-p5 .circle-5-process-p5 {
      position: absolute;
      width: 42px;
      height: 42px;
      bottom: -15px;
      left: 50%;
      border-radius: 25px;
      border: 2px solid;
      border-color: #d9e1bf;
      background-color: #213635; }
      div.page5 #view-line-process-p5 .circle-5-process-p5 .process-box-top-l-p5 {
        padding: 10px 20px;
        position: absolute;
        bottom: 90px;
        right: -162px;
        background-color: #d9e1bf; }
      div.page5 #view-line-process-p5 .circle-5-process-p5 .delta-5-p5 {
        position: absolute;
        left: 0;
        top: 83px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 27px 27px 0 0;
        border-color: #d9e1bf transparent transparent transparent; }
    div.page5 #view-line-process-p5 .circle-6-process-p5 {
      left: 65%; }
      div.page5 #view-line-process-p5 .circle-6-process-p5 .delta-6-p4 {
        float: right;
        border-width: 0 0 27px 27px;
        border-color: transparent transparent #d9e1bf transparent; }
    div.page5 #view-line-process-p5 .circle-7-process-p5 {
      left: 75%; }
      div.page5 #view-line-process-p5 .circle-7-process-p5 .process-box-bot-1-p5 {
        padding: 10px 20px;
        position: absolute;
        bottom: -133px;
        right: -118px;
        background-color: #d9e1bf; }
      div.page5 #view-line-process-p5 .circle-7-process-p5 .delta-7-p5 {
        left: 0px;
        top: -24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 27px 0 0 27px;
        border-color: transparent transparent transparent #d9e1bf; }
    div.page5 #view-line-process-p5 .circle-8-process-p5 {
      left: 90%; }
      div.page5 #view-line-process-p5 .circle-8-process-p5 .delta-8-p5 {
        float: right;
        border-width: 0 27px 27px 0;
        border-color: transparent #d9e1bf transparent transparent; }

div.footer-contacts {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3% 0 5% 7%; }
  div.footer-contacts .line-cont {
    width: 70px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: -6px 8px 6px rgba(0, 0, 0, 0.9); }
  div.footer-contacts .font-stl-contacts {
    font-family: "QuicksandLight";
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: -6px 8px 6px rgba(0, 0, 0, 0.9); }
  div.footer-contacts .font-stl-content-con {
    font-family: "QuicksandLight";
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    margin-top: 20px;
    text-shadow: -6px 8px 6px rgba(0, 0, 0, 0.9); }
  div.footer-contacts #partners-cont {
    float: left;
    width: 30%; }
    div.footer-contacts #partners-cont .content-text1 {
      width: 99px;
      height: 31px;
      background-image: url("/img/user/vitrage-life.png"); }
    div.footer-contacts #partners-cont .content-text2 {
      font-family: "QuicksandLight";
      font-size: 16px;
      font-weight: 100;
      color: #ffffff;
      text-shadow: -6px 8px 6px rgba(0, 0, 0, 0.9); }
  div.footer-contacts #follow-cont {
    float: left;
    padding: 0 10%;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #ffffff; }
    div.footer-contacts #follow-cont ul.social-cont {
      margin: 0px;
      padding: 0px; }
      div.footer-contacts #follow-cont ul.social-cont li {
        display: inline;
        padding-right: 7px; }
    div.footer-contacts #follow-cont div.scl-btm-cont {
      display: inline-block;
      width: 33px;
      height: 33px; }
      div.footer-contacts #follow-cont div.scl-btm-cont:hover {
        cursor: pointer; }
    div.footer-contacts #follow-cont div.scl-pinterest-cnt {
      background-image: url("/img/user/social/pinterest-cnt.png");
      background-repeat: no-repeat; }
    div.footer-contacts #follow-cont div.scl-facebook-cnt {
      background-image: url("/img/user/social/facebook-cnt.png");
      background-repeat: no-repeat; }
    div.footer-contacts #follow-cont div.scl-vk-cnt {
      background-image: url("/img/user/social/vk-cnt.png");
      background-repeat: no-repeat; }
    div.footer-contacts #follow-cont div.scl-vimeo-cnt {
      background-image: url("/img/user/social/vimeo-cnt.png");
      background-repeat: no-repeat; }
    div.footer-contacts #follow-cont div.scl-google-cnt {
      background-image: url("/img/user/social/google-cnt.png");
      background-repeat: no-repeat; }
  div.footer-contacts #contact-cont {
    float: left;
    padding-left: 5%; }

/*# sourceMappingURL=simplePage.css.map */
